.count {
    display: flex;
    column-gap: 12px;
}

.minus,
.plus {
    cursor: pointer;
}

rect {
    transition: all 0.2s ease-in-out;
}

.minus:hover rect:first-child {
    fill: #fff;
}

.minus:hover rect:last-child {
    stroke: #fff;
}

.plus:hover rect:nth-child(-n+2) {
    fill: #fff;
}

.plus:hover rect:last-child {
    stroke: #fff;
}