@import url('./reset.css');
@import url('https://fonts.cdnfonts.com/css/pilsen-plakat');
@import url('https://fonts.cdnfonts.com/css/hot-pizza');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/ubuntu-title');

body {
    background-color: #181818;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Ubuntu-Title', sans-serif; */
    color: #fff;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-pagination .ant-pagination-item a {
    color: #FFFFFF;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-pagination .ant-pagination-disabled .ant-pagination-item-link,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-pagination .ant-pagination-disabled:hover .ant-pagination-item-link {
    color: #FFFFFF;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-pagination .ant-pagination-prev .ant-pagination-item-link,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-pagination .ant-pagination-next .ant-pagination-item-link {
    color: #FFFFFF;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-pagination .ant-pagination-item-active {
    background: linear-gradient(269.02deg, #945204 12.74%, #FF9A24 100.39%);
    border: 0px;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-pagination .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
:where(.css-dev-only-do-not-override-1xg9z9n).ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
    color: #FFFFFF;
}