body {
    background-color: #181818;
}

.container {
    padding: 0 50px;
}

.headerNav {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* position: relative; */
}

.profile {
    display: flex;
    column-gap: 5px;
}